#checkout-payment-step .online-payments-htp.disabled iframe {
    display: none
}

#checkout-payment-step .online-payments-htp iframe {
    border: none;
    width: 100%
}

#checkout-payment-step .payment-option img[src*="payment_products"] {
    height: 20px;
}
#checkout-payment-step .payment-option img[src*="img"] {
    height: 20px;
}